*{
    font-family: monospace;
    

}
html{
    background: linear-gradient(145deg, #1e2024, #23272b);
}
header{

    margin:50px 5px;
}

.center{
    z-index: 1;
    border-radius: 20px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    margin: 40px auto;
    width: 80%;
    border: 5px ;
    padding: 10px;
    background-color: #212428;
    color: #bcc7d5;
}
.intro{
    width:170%;
    position: relative;
    display: flex;
    margin-bottom: 10%;

}
.intro img{
    position: relative;
    width:auto;
    height:300px;
    padding:0.65em;
    background: linear-gradient(110deg,#30DCD1, #141E30);
    border-radius: 1em;
}

.control-panel P{
    color : #bcc7d5 !important;
    position: relative;
    font-size:17px;
}

hr{
    width:80%;
    border-top: 1px solid;
    border-radius: 5px;
    color:black !important;
}
h1{
    margin-left: 20px;
    font-size: 50px;
    color: #ffffff !important;
}

h2{

    width: 100%;
    height: 50px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    transition: background-color 1s;
}

h2.right{
    position: relative;
    right:80px;
}

h2.-header{
    width:80%;
    position: relative;
    left:70px;
    margin-bottom: 100px;
    bottom:-10px;
}

.first-list-container{
   width:1000px;
   display: inline-block;
}

h2.port-header{
    width:80%;
    position: relative;
    left:55px;
    bottom: 60px;
}

h2.prog-kno{
    position: relative;
    width:100%;
    right:2%;
}
.knowledge{
    height:400px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
h3{
    position: relative;
    width: 20%;
    height: 50px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    transition: background-color 1s;
    top:2em;
}
.backEndHeader , .FrontListHeader,.ToolsListHeader{
    padding: 5px;
    width:120%;

}

.FrontEnd{
    position: relative;
    display: inline-table;
    width: 10%;
    height: 250px;
    right:6%;
}
.backEnd{
    position: relative;
    display: inline-table;
    position: relative;
    width:10%;
    height: 250px;
    right:3%;
    

}


.tools{
    position: relative;
    display: inline-table;
    width:10%;
    height: 250px;
    right:2%;

}
.FrontEndList , .backEndList, .ToolsList{
    display: inline-block;
    position: relative;
    list-style: none;
    left:2em;
    margin: 10px 50px;
    width: 40px;
    height: 250px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;

}

.Frontlogo, .backlogo, .toolsLogo{
    position: relative;
    width: 50px;
    height: 40px;
    right:35px;
}

ul{
   
    display: inline-block;
    list-style: none;
    width:321px;
}



li .logo, div .logo{
    margin: 10px 12px;
    line-height: 55px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
li.right{
    position: relative;
    
}
li.left{
    position: relative;
}
img{
    width:1%;
    height: 1%;
    padding:1em;
}

ul li{
    float:left;
}
.Best-skill-container{  

    position: relative;
    margin: 60px;
    display: inline-block;
    width:1000px;

}
.githubLogo:hover{
    margin-top: -2em;
}



.second-list-cintainer{
    position: relative;
    display: inline-block;
    left:400px;
    
}
.secondList{
    position: relative;
    right:40px;
   
}
.project-container{
   
    width:100%;
    position: relative;
    display: inline-block;
}
.networkscanner{
    position: relative;
    left:40px;
    display: inline-block;
 
}
.SmartHome{
    position: relative;
    display: inline-block;
    left:50px;
}
.webpage{
    position: relative;
    display: inline-block; 
    margin-left:4em;
}

.prograssbar-container{

    position: relative;
    display: inline-block;
    left:50px;
    width:100%;
    right:20px;
}

.prograss{

    position: relative;
    display: inline-block;
    width:100%;
    height: auto;
}
div{
    display: block;
}
.outer{
    position: relative;
    display: inline-block;
    width:100%;
    height: 10px;
    background-color:#16181b ;
    border-radius: 14px;
    box-shadow:inset 8px 8px 16px #00000075, inset -8px -8px 16px #383e4575; ;
}
.lang-bar{
    position: relative;
    display: inline-block;
    background:linear-gradient(-110deg,#30DCD1, #141E30);
    height: 5px;
    border-radius: 14px;
    width:1%;
    padding: 3px;
}

.left .external{
   width: 50%;
    
}
.left .outer{
    width:100%;

}
.precenteg{
    position: relative;
    left:90%;
    top: -26px;
    font-weight: 400;
    color: #c3cedd;
    opacity: 0.9;
}
.external{
    margin-left:23px;
    width:30%;
    position: relative;
    display: inline-block; 
}
.left{
    width:50%;
    height: auto;
    display: inline-block;
    position: relative;
}

footer{
    margin: 50px 20px 20px 50px;
}

@media only screen and (max-width:760px) {
   .intro{
       flex-wrap: wrap-reverse;
   }
    .control-panel p{
        margin-top:20%;
    }


    .Best-skill-container{
      
        width:100%;
        right:10%;
    }
    h2.prog-kno{
     
        width:58% !important;
    }
    h3{
    
        position: relative;
        width: 50% !important;
        height: 50px;
        font-size: 10px;
    }
    .knowledge{
        display: inline-block;
    }
    .backEndHeader , .FrontListHeader,.ToolsListHeader{
        padding: 1px !important;

    }
    .ToolsListHeader{
        width:90% !important;
        right:20%;
    }
    .FrontListHeader{
        left: 30%;
    }
    .backEndHeader{
        left:10%;
    }
   
    .ToolsList{
        position: relative;
        
        margin-left: -3em !important;
    }
    .backEndList{
        position: relative;
    
        left: -2em !important;
    }
    
    .second-list-cintainer{
        position: relative;
        left:30% !important;
    }
    .SmartHome{
        position: relative;
        left:2% !important;
    }
    h2.-header{
        position: relative;
        left:2% !important;
    }
}

@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3){ 
        .center{
            z-index: 1;
            border-radius: 20px;
            box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
            margin: 40px auto;
            width: 100%;
            border: 5px ;
            padding: 10px;
            background-color: #212428;
            color: #bcc7d5;
        }
        .control-panel p{
            margin-top:20%;
        }
        .intro{
            flex-wrap: wrap-reverse;
        }
        .Best-skill-container{
            width:100%;
            right:10%;
        }
        h2.prog-kno{
         
            width:58% !important;
        }
        h3{
        
            position: relative;
            width: 40%c !important;
            height: 50px;
            font-size: 10px;
        }
        .backEndHeader , .FrontListHeader,.ToolsListHeader{
            padding: 1px !important;
    
        }
        .ToolsListHeader{
            width:90% !important;
            right:20%;
        }
        .FrontListHeader{
            left: 30%;
        }
        .backEndHeader{
            left:10%;
        }
       
        .ToolsList{
            position: relative;
     
            margin-left: -3em !important;
        }
        .backEndList{
            position: relative;
        
            left: -2em !important;
        }
        
        .second-list-cintainer{
            position: relative;
            left:30% !important;
        }
        .SmartHome{
            position: relative;
            left:2% !important;
        }
        h2.-header{
            position: relative;
            left:2% !important;
        }
    }
    